torch==2.9.1
torchvision==0.24.1
monai
torchio
timm
albumentations
opencv-python
numpy
pandas
scikit-learn
matplotlib
seaborn
SimpleITK
pydicom
wandb
tensorboard
hydra-core
omegaconf
pyyaml
tqdm
iterative-stratification==0.1.9
